<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nafie develops the best quality website that serves for the long-term. Well-documented, clean, easy and elegant interface helps any non-technical clients.">
    <meta name="keywords" content="portfolio, agency, business, clean, company, corporate, creative, gallery, rtl, modern, photography, vue, vuejs, responsive, sass">

    <!-- title of the browser tab -->
    <title>Nafie - HTML Portfolio Template</title>

    <!-- favicon -->
    <link rel="icon" href="/assets/favicon.ico">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Saira+Stencil+One&text=Nafie&display=swap">

    <!-- css libraries file -->
    <link rel="stylesheet" href="/styles/libraries.min.css">

    <!-- bootstrap css file -->
    <link rel="stylesheet" href="/styles/bootstrap.css">

    <!-- main style file -->
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div id="app">
      <div id="app-inner" ref="appRef"
        :class="[savedTheme, {'enable-focus-style': isAnyFocus}]"
        @click="isAnyFocus = false"
        @keyup.tab="isAnyFocus = true">

        <div class="circle-cursor circle-cursor-outer" ref="circleCursorOuter"></div>
        <div class="circle-cursor circle-cursor-inner" ref="circleCursorInner"></div>

        <!-- start preloader-->
        <div class="preloader" ref="preloader">
          <div class="preloader-content">
            <div class="logo">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 170 199">
                <path d="M0.720001 8.91999V0.855993H58.32L169.488 190.648V199H112.176L0.720001 8.91999ZM114.768 73.144V0.855993H169.488V166.744L114.768 73.144ZM0.720001 32.824L55.44 126.424V199H0.720001V32.824Z" />
              </svg>
            </div>
            <div class="loading-bar">
              <span class="loading-bar-progress"></span>
            </div>
          </div>
        </div>
        <!-- end preloader-->

        <!-- start of header -->
        <header class="hide-in-preloading" :class="{
          'big-header': isHeaderBig,
          'small-header': !isHeaderBig,
          'header-hidden': isHeaderHidden
        }">
          <div class="container">
            <!-- logo -->
            <div class="logo" title="Nafie">
              <h1><a href="/">Pazbear</a></h1>
            </div>

            <!-- options icons -->
            <ul class="options-icons">

              <!-- logout button -->
              <% if(id){ %>
              <li>
                <form action="/user/logout" method="get">
                  <button class="submit-btn btn btn-dark" type="submit" @click="contactFormValidation">로그아웃</button>
                </form>
              </li>
              <% } %>

              <!-- theme switcher button -->
              <li class="theme-switcher">
                <button :class="savedTheme" title="Change Mode" @click="changeAppTheme"></button>
              </li>

            </ul>
          </div>
        </header>
        <!-- end of header -->

        <% if(!id){ %>
        <!-- start of auth section -->
        <div id="contact" class="contact-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <!-- text box -->
              <div class="contact-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">Pazbear</span>
                  <h2>
                    새 유튜브 mp3 파일을 메일로 받아보세요!
                  </h2>
                  <p>
                    계정 문의는 아래로 해주세요
                  </p>
                </div>

                <!-- contact info -->
                <ul class="contact-info">
                  <li>
                    <img src="assets/images/icons/email.png" alt="Email">
                    <div>
                      <strong>Email:</strong>
                      <ul>
                        <li><a href="mkcho1997@daum.net">mkcho1997@daum.net</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- contact form -->
              <div class="col-lg-6">
                <form ref="contactForm"
                  class="contact-form form-styled"
                  action="/user/login"
                  method="post"
                  style="opacity:1;">
                  <div class="group">
                    <label>Email</label>
                    <div class="control has-prefix-icon">
                      <input class="ltr-dir"
                        type="email"
                        inputmode="email"
                        name="email"
                        placeholder="Write your e-mail here"
                        required>
                      <i class="fa fa-envelope prefix-icon" aria-hidden="true"></i>

                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Email is required">
                        <input class="invalid" type="hidden" value="Please enter a valid email address">
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <label>Password</label>
                    <div class="control has-prefix-icon">
                      <input class="ltr-dir"
                        type="password"
                        inputmode="password"
                        name="password"
                        placeholder=""
                        required>

                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Email is required">
                        <input class="invalid" type="hidden" value="Please enter a valid email address">
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <div class="control">
                      <button class="submit-btn btn btn-dark" type="submit" @click="contactFormValidation">로그인</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end of contact section -->
        <% } else{ %>
          <!-- start of auth section -->
        <div id="contact" class="contact-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <!-- text box -->
              <div class="contact-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">Pazbear</span>
                  <h2>
                    Mp3 Extraction-info reg.
                  </h2>
                </div>

                <!-- contact info -->
                <ul class="contact-info">
                  <li>
                    <img src="assets/images/icons/email.png" alt="Email">
                    <div>
                      <strong>Email:</strong>
                      <ul>
                        <li><a href="mkcho1997@daum.net">mkcho1997@daum.net</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- contact form -->
              <div class="col-lg-6">
                <form ref="contactForm"
                  class="contact-form form-styled"
                  action="/user/login"
                  method="post"
                  style="opacity:1;">
                  <div class="group">
                    <label>youtube_url <br>( ex - https://www.youtube.com/channel/~ , https://www.youtube.com/c/~ )</label>
                    <div class="control has-prefix-icon">
                      <input class="ltr-dir"
                        type="text"
                        inputmode="text"
                        name="youtube_url"
                        placeholder=""
                        required>

                    </div>
                  </div>
                  <div class="group">
                    <label>extract_time ( 0 ~ 23 )</label>
                    <div class="control has-prefix-icon">
                      <input class="ltr-dir"
                        type="text"
                        inputmode="text"
                        name="extract_time"
                        placeholder=""
                        required>

                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Email is required">
                        <input class="invalid" type="hidden" value="Please enter a valid email address">
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <div class="control">
                      <button class="submit-btn btn btn-dark" type="submit" @click="contactFormValidation">등록</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end of contact section -->
        
        <!-- table section -->
        <div id="skills" class="skills-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">
              <div class="skills-items col-lg-12">

                <!-- table list -->
                <ul v-staggerdelay="50">
                  <li tabindex="0" style="width:200px; height:80px;">
                    <div class="skill-icon">
                      hiiiiiiiiiiiiiiiiiiiiiiiiiiii<br>
                      3
                    </div>
                  </li>
                  <li tabindex="0" style="width:200px; height:80px;">
                    <div class="skill-icon">
                      hiiiiiiiiiiiiiiiiiiiiiiiiiiii<br>
                      3
                    </div>
                  </li>
                  <li tabindex="0" style="width:200px; height:80px;">
                    <div class="skill-icon">
                      hiiiiiiiiiiiiiiiiiiiiiiiiiiii<br>
                      3
                    </div>
                  </li>
                  <li tabindex="0" style="width:200px; height:80px;">
                    <div class="skill-icon">
                      hiiiiiiiiiiiiiiiiiiiiiiiiiiii<br>
                      3
                    </div>
                  </li>
                  <li tabindex="0" style="width:200px; height:80px;">
                    <div class="skill-icon">
                      hiiiiiiiiiiiiiiiiiiiiiiiiiiii<br>
                      3
                    </div>
                  </li>
                  <li tabindex="0" style="width:200px; height:80px;">
                    <div class="skill-icon">
                      hiiiiiiiiiiiiiiiiiiiiiiiiiiii<br>
                      3
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <!-- end of table section -->
        <% } %>
        <!-- start of footer -->
        <footer style="margin-top:80px;">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- logo -->
                <div class="logo" title="Nafie">
                  <h1><a href="index.html">Pazbear</a></h1>
                </div>
              </div>
              <div class="col-lg-6">
                &copy; {{ copyrightDate }}
              </div>
            </div>
          </div>
        </footer>
        <!-- end of footer -->

        <!-- scroll to top button -->
        <button class="scroll-to-top" ref="scrollTopBtn"
          title="Back To Top"
          data-show-at="50"
          @click="scrollToTop">
          <svg width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
          </svg>
        </button>

        <!-- toast notifications -->
        <ul class="notifications-container">
          
        </ul>

        <!-- ajax loading -->
        <div class="ajax-loading hide-in-preloading" v-show="isAjaxLoading">
          <span></span>
        </div>
      </div>
    </div>

    <!-- js plugins file -->
    <script src="/scripts/plugins.min.js"></script>

    <!-- main script file -->
    <script src="/scripts/main.min.js"></script>
  </body>
</html>
