<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%= a %>
    </h1>
    <h3>
        <%= b %>
    </h3>
    <% for(a=1;a<5;a++){ %>
        <p>hello</p>
    <% } %>
    <%- include('hello') %>
</body>
</html>